body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.main {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgb(208, 243, 238);
}

.card {
    max-width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 400px;
}
