body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    max-width: 1200px;
    margin: auto;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.text-center{
    padding: 300px;
    background-image: url(https://image.slidesdocs.com/responsive-images/slides/0-simple-gourmet-western-restaurant-introduction-planning-powerpoint-background_6d04ca1081__960_540.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
